@import "../../styles/variables";

.btn {
	border-radius: 28px;
	font-size: 16px;
	padding: 7px 55px;
	transition: 0.5s all;
	border: none;

	&:hover {
		transition: 0.5s all;
	}

	&:disabled {
		opacity: 0.45;
	}
}

.btn--primary {
	background-color: $color-primary;
	color: $color-white;

	&:hover {
		background-color: $color-primary-2;
		color: $color-white;
	}

	&:focus {
		box-shadow: none;
	}
}
