@import "../../styles/variables";

.btn {
	display: inline-block;
	border-radius: 28px;
	cursor: pointer;
	font-size: 16px;
	padding: 13px 63px;
	transition: 0.5s all;
	border: none;

	&:hover {
		transition: 0.5s all;
	}
}

.btn--primary {
	background-color: $color-primary;
	color: $color-white;

	&:hover {
		background-color: $color-primary-2;
	}
}
