@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto/Roboto-Bold.woff') format('woff'),
  url('/assets/fonts/roboto/Roboto-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto/Roboto-Regular.woff') format('woff'),
  url('/assets/fonts/roboto/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto/Roboto-Medium.woff') format('woff'),
  url('/assets/fonts/roboto/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}



