$color-background: #F8F9F9;
$color-white: #fff;
$color-grey: #8d90a0;
//$color-gray-60: #e0e0e0;
$color-primary: #58AF9B;
$color-primary-2: #34695d;

// Fonts
$weight__regular: 400;
$weight__medium: 500;
$weight__bold: 700;

$shadow__box: 0 0 16px 0 rgba(0, 0, 0, 0.08);
